
:root {
    --primary-color:#089975 ;
    --second-color: #1a1d24;
    --font-family: 'Segoe UI';
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: var(--primary-color);
}
section {
    height: 100vh;
    background-color: var(--primary-color);
}

                /* navbar */
.navbar {
    height: 110px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: white;
}
.navbar a {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin: 2rem;
    margin-top: 4rem;
    transition: ease .3S;
}
.navbar a:hover{
    color: #0a6e55;
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #8ce9d2);
}
.navbar .logo{
        width: 75px;
    height: 75px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
}
@media screen and (max-width: 768px){
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav.navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .navbar a {
        margin: 0.6rem;
        font-size: 14px;
        margin-top: 1rem;

    }
    .navbar .logo {
        position: absolute;
        margin: 0;
        width: 50px;
        height: 50px;
        left: 0.1rem;
        top: 0.1rem;
    }
}

                /* home */
.home {
    text-align: center;
    justify-content: center;
    display: flex;
    justify-items: center;
    align-items: center;
}
h1{
    font-size: 14rem;
    color: white;
    filter: drop-shadow(13px 13px 7px #0e1311);
        transition: ease .3s;
}
h1:hover{
    color: #000000;
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #ffffff);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .home {
        height: 80vh;
    }
    .home h1{
        font-size: 4rem;
}
}
                /* about */
.about {
    background-color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;
}
.about h2{
    color: var(--primary-color);
    font-size: 5rem;
    width: 100%;
    margin-top: 2rem;

}
.about h3{
    color: var(--primary-color);
    font-size: 3rem;
}
.about p {
    font-weight: bold;
    color: var(--second-color);
    margin-bottom: 1rem;
    font-size: 1.7rem;
}
.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: auto;

}
.about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.about .txt{
    border: 5px solid var(--primary-color);
    border-radius: 1rem;
    width: 50%;
    margin: 2rem;
    margin-top: 10rem;
    padding: 1rem 2rem;
    height: auto;
    box-shadow: (12px 12px 10px #046e54);
}
@media screen and (max-width: 768px){
    .about {
        height: auto;
        padding-bottom: 2rem;
        padding: 1rem;
    }
    .about h2{
        font-size: 2.5rem;
        margin-top: 2rem;
}
    .about h3{
        font-size: 1.7rem;
    }
    .about p {
        font-weight: bold;
        color: var(--second-color);
        margin-bottom: 1rem;
        font-size: 1rem;
        }
    .about .container {
        display: flex;
        flex-direction:column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        height: 100vh;
    }
    .about .txt{
        position: relative;
        left: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: justify;
        text-align-last: center ;
        width: 80%;
        margin: 0.5rem;
        padding: 4px;
        height: 500px;
    }
}
                /* plans */
.plans {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin-bottom: 5rem;

}
.plans h2 {
    color: white;
    font-size: 5rem;
}
.plans h3 {
    margin: 2rem;
    font-size: 2.7rem;
    font-size: 1.5rem;
    color: white;
}
.plans p {
    color: white;
    font-weight: bold;

}
.plans .container {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.plans .plan {
    width: 25%;
    height: 600px;
    border: 4px solid white;
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    background: #1a1d24;
    transition: ease .3s;
}
.plans .plan:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgb(0, 0, 0);
}
@media screen and (max-width: 768px){
    .plans .plan{
        margin: 0.6rem;
        width: 80%;
        height: auto;
        margin-top: 2rem;
    }
    .plans .container {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 100%;
    }
    .plans .plan:hover {
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 0 25px rgb(0, 0, 0);
    }
}

                /* proyects */
.proyects {
    text-align: center;
}
.proyects h2{
    color: white;
    font-size: 5rem;
    width: 100%;
    margin-top: 2rem;
}

.proyects p {
    color: var(--second-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem
}
.proyects .proyectos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.proyects .proyecto {
    background: white;
    border-radius: 1rem;
    border-radius: 2rem;
    width: 30%;
    height: 250px;
    margin: 1rem;
    padding: 1rem;
    transition: ease .3s;
}
.proyects h3 {
    color: white;
    font-size: 2.5rem;
}
.proyects .proyecto:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.proyects .proyecto{
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    width: 100%;
    object-fit: cover;
    height: 250px;
    z-index: 0;
}
.proyects p {
    color:white ;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 6rem;
}
#uno{
    background-image: url(/Wait/1.png); 
}
#dos{
    background-image: url(/Wait/2.png); 
}

@media screen and (max-width: 768px) {
    .proyects {
        height: auto;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .proyects h2 {
        font-size: 2.5rem;
    }
    .proyects p {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
    .proyects .proyectos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .proyects .proyecto{
        width: 90%;
        height: 200px;
        margin: 0.5rem;
        border-radius: 0;
        padding: 0;
    }
}

                /* personal */
.personal {
    width: 100%;
    background: var(--second-color);
}
.personal .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.personal h2{
    text-align: center;
    color: white;
    font-size: 5rem;
}
.empleados {
width: 500px;
background: whitesmoke;
border: 4px solid var(--primary-color);
border-radius: 2rem;
text-align: center;
margin: 4rem 6rem;
box-shadow: 8px 8px 10px rgb(0, 0, 0);
transition: ease .3s;
}
.empleados:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(82, 77, 77);
    transform: scale(1.1);
}
.empleados img{
width: 100%;
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
}
.empleados p{
color: var(--second-color);
font-weight: bold;
font-size: 1.5rem;
margin-bottom: 1rem;
}
.empleados h3{
color: var(--primary-color);
font-size: 2rem;
}
@media screen and (max-width: 768px) {
    .personal {
        height: auto;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .personal h2 {
        font-size: 2.5rem;
    }
    .empleados {
        width: 90%;
        margin: 1rem;
        border-radius: 0.6rem;
        border: 3px solid var(--primary-color);
        box-shadow:6px 6px 10px rgb(0, 0, 0);
    }
    .empleados img{
        width: 100%;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }
    .empleados p{
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .empleados h3{
        font-size: 1rem;
    }
}

                    /* footer */
footer {
    background: var(--primary-color);
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}
